<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active"> <a href="/admin/dashboard/index.html"><i class="fas fa-tachometer-alt"></i> <span>Thống kê</span></a> </li>
                <li class="list-divider"></li>
            

                <li class="submenu">
                    <a href="#"><i class="fas fa-book"></i> <span>Quản lí</span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="/admin/room/index.html">Số phòng </a></li>
                        <li><a href="/admin/roomType/index.html">Loại phòng</a></li>
                    </ul>
                </li>
                <li> <a href="/admin/menu/index.html"><i class="fa fa-bars"></i> <span>Menu</span></a> </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-calendar-alt"></i> <span>Đặt phòng</span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class">
                        <li><a href="/admin/booking/calendar.html">Xem dạng lịch</a></li>
                        <li><a href="/admin/booking/index.html">Xem dạng danh sách</a></li>
                    </ul>
                </li>
                <li> <a href="/admin/user/index.html"><i class="fa fa-user"></i> <span>Tài khoản</span></a> </li>
    
                <li> <a href="/admin/contact/index.html"><i class="fas fa-address-book"></i> <span>Liên hệ</span></a> </li>
         
                           
                <!-- <li> <a href="#"><i class="far fa-bell"></i> <span>Activities</span></a> </li> -->
              
                <li> <a href="#"><i class="fas fa-cog"></i> <span>Settings</span></a> </li>
                <li class="list-divider"></li>
            </ul>
        </div>
    </div>
</div>

<script>
(function($) {
    "use strict";

    var Sidemenu = function() {
        this.$menuItem = $('#sidebar-menu a');
        this.$slimScrolls = $('.sidebar .slimscroll'); // Initialize slimscrolls
        this.init();
    };

    Sidemenu.prototype.init = function() {
        var self = this;

        // Menu item click behavior for submenus
        this.$menuItem.on('click', function(e) {
            if ($(this).parent().hasClass('submenu')) {
                e.preventDefault();
            }
            if (!$(this).hasClass('subdrop')) {
                $('ul', $(this).parents('ul:first')).slideUp(350);
                $('a', $(this).parents('ul:first')).removeClass('subdrop');
                $(this).next('ul').slideDown(350);
                $(this).addClass('subdrop');
            } else {
                $(this).removeClass('subdrop');
                $(this).next('ul').slideUp(350);
            }
        });

        // Initialize slimscroll
        if (this.$slimScrolls.length > 0) {
            this.$slimScrolls.slimScroll({
                height: 'auto',
                width: '100%',
                position: 'right',
                size: '7px',
                color: '#ccc',
                allowPageScroll: false,
                wheelStep: 10,
                touchScrollStep: 100
            });

            var wHeight = $(window).height() - 60;
            this.$slimScrolls.height(wHeight);
            $('.sidebar .slimScrollDiv').height(wHeight);

            $(window).resize(function() {
                var rHeight = $(window).height() - 60;
                self.$slimScrolls.height(rHeight);
                $('.sidebar .slimScrollDiv').height(rHeight);
            });
        }

        // Handle mouseover for expand menu in mini sidebar mode
        $(document).on('mouseover', function(e) {
            e.stopPropagation();

            if ($('body').hasClass('mini-sidebar') && $('#toggle_btn').is(':visible')) {
                var isSidebarHovered = $(e.target).closest('.sidebar').length > 0;

                if (isSidebarHovered) {
                    $('body').addClass('expand-menu');
                    $('.subdrop + ul').slideDown();
                } else {
                    $('body').removeClass('expand-menu');
                    $('.subdrop + ul').slideUp();
                }
                return false;
            }
        });
    };

    // Initialize the Sidemenu
    $(document).ready(function() {
        new Sidemenu();
    });

})(jQuery);

</script>