
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header mt-5">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Tạo phòng</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Room</h4>
                    </div>
                    <div class="card-body">
                        <form action="#">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Số phòng</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Số lượng</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Giá 1 đêm</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="VND">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">File Input</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="file">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Status</label>
                                <div class="col-md-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio"> Active
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio"> Non-Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Dịch vụ</label>
                                <div class="col-md-10" id="checkboxContainer">
                                @*     <div class="checkbox">
                                         <label><input type="checkbox" name="checkbox"> Option 1</label>
                                     </div>
                                     *@

                                </div>
                            </div>

                            <style>
                                #checkboxContainer {
                                    display: flex;
                                    flex-wrap: wrap; /* Tự động xuống dòng khi đủ số lượng cột */
                                }

                                .checkbox {
                                    width: 20%; /* Mỗi cột chiếm 1/4 chiều rộng */
                                    box-sizing: border-box; /* Đảm bảo padding và border không ảnh hưởng đến kích thước */
                                    padding: 10px; /* Khoảng cách giữa các checkbox */
                                }
                            </style>
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Textarea</label>
                                <div class="col-md-10">
                                    <textarea rows="5" cols="5" class="form-control"
                                              placeholder="Enter text here"></textarea>
                                </div>
                            </div>
                            <div class="content container-fluid">
                                <button type="button" class="btn btn-primary buttonedit ml-2">Tạo</button>
                                <button type="button" class="btn btn-primary buttonedit">Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/assets/Api/Room/AddRoom.js"></script>





