    <!-- MENU-HEADER -->
    <div class="menu-header">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                    </button>
                    <a class="navbar-brand" href="file:///E:/Xampp/htdocs/skyline/index.html" title="Skyline"><img src="images/Home-1/sky-logo-header.png" alt="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="home.html" title="Home">Trang chủ</></a>
    
                        </li>
                        <li class="dropdown ">
                            <a href="room_1.html" title="Room & Rate" class="dropdown-toggle" data-toggle="dropdown">Room & Rate<b class="caret"></b></a>
                            <ul class="dropdown-menu icon-fa-caret-up submenu-hover">
                                <li><a href="room_1.html" title="">Room 1</a></li>
                                <li><a href="room_2.html" title="">Room 2</a></li>
                                <li><a href="room_3.html" title="">Room 3</a></li>
                                <li><a href="room_4.html" title="">Room 4</a></li>
                                <li><a href="room_5.html" title="">Room 5</a></li>
                                <li><a href="room_6.html" title="">Room 6</a></li>
                                <li><a href="room_detail.html" title="">Room Detail</a></li>
                            </ul>
                        </li>
    
                        <li><a href="allRoom.html" title="About">Phòng nghỉ</a></li>
                        <li><a href="contact.html" title="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- END / MENU-HEADER -->